body {
 background-color: black;
 font-family: roboto, Arial;
 
}

* {
 margin: 0;
 min-width: 0;
 overflow-wrap: break-word;
 padding: 0;
 transition: all 0.2s ease;
}

input,
button {
 background-color: #373737;
 border: none;
}

input:focus {
 outline: 1px solid white;
 border: none;
}


@media(max-width: 700px){
 body {
  position: relative;
 }
}

@media(max-width: 1024px){
 body {
  padding: 0px 2vw 30px 2vw;
 }
}

@media(min-width: 700px) and (max-width: 1199px){
 h3:first-child {
  font-size: 3vw;
 }
}

@media(min-width: 1025px){
 body {
  padding: 7vw;
 }
}

@media(min-width: 1200px){
 body {
  font-size: 16px;
 }
}